@import url("./style.css");

.host {
    padding: 5% 15% 5% 15%;
}

#host {
    display: table;
    width: 100%;
    height: 100%;
}

#sidebar {
    display: table-cell;
    height: 100%;
    width: 20%;
    vertical-align: top;
    background-color: var(--pfw-black-footprints);
    position: fixed;
    color: var(--primary-pfw-white);
}

#sidebar h1 {
    font-weight: 200;
    font-size: 20pt;
    margin-left: .5ch;
}

#sidebar a {
    text-decoration: none;
}

#content {
    display: table-cell;
    width: 80%;
    height: 100%;
    vertical-align: bottom;
    overflow-y: auto;
    padding: 3ch;
    z-index: -1;
    margin: 3ch;
}

#conversation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
    width: 100%;
    height: 70vh;
    overflow-y: auto;
}

.chat-box {
    width: 100%;
    margin: auto;
}

.chat-box #input * {
    height: auto;
    min-height: 3ch;
    max-height: 30%;
    overflow-x: auto;
    margin: .5ch;
    position:absolute;
    left: 22%;
}

#teaching_assistant {
    width: 15em;
    top: 10%;
    padding:.25ch .5ch .25ch .5ch;
}

#question {
    width: 65%;
    right: 10%;
    position:absolute;
    bottom: 5%;
    padding:.25ch .5ch .25ch .5ch;
}

#chat-box::after {
    content: "Victor is an AI and may make mistakes.";
    color: #00000060;
    font-size: small;
    width: 100%;
    margin: auto;
}

/* ChatGPT Code */
#sidebar ul {
    list-style-type: none;
    padding-top: 3ch;
    padding-bottom: 3ch;
    overflow-y: auto;
}

#sidebar ul li {
    padding: 10px 20px;
    color: white;
}

#sidebar ul li.active {
    background-color: #FFC107;
    color: black;
    text-align: right;
}

/* End ChatGPT Code*/

/*#region Chat bubbles*/
/* Source: https://codepen.io/Founts/pen/AJyVOr */
.talk-bubble {
    display: inline-block;
    position: relative;
    width: 80%;
    height: auto;
    margin: 1em;
    align-self: flex-start;
}

.text-from {
    color: #00000060;
    font-size: small;
    width: 100%;
    margin: auto;
}

.left {
    align-self: flex-start;
    text-align: left;
}
.right {
    align-self: flex-end;
    text-align: right;
}

.teaching_assistant {
    background-color: var(--pfw-gold-rumble);
    border-color: var(--pfw-gold-rumble);
}

.student {
    background-color: var(--pfw-black-tusk);
    border-color: var(--pfw-black-tusk);
}

.talktext {
    padding: 1em;
    text-align: left;
    line-height: 1.5em;
}

.talktext p {
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -8px;
    bottom: -40px;
    border: 20px solid;
    border-color: var(--pfw-black-tusk) var(--pfw-black-tusk) transparent transparent;
}

.tri-right.btm-right:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 0px;
    bottom: -20px;
    border: 12px solid;
    border-color: var(--pfw-black-tusk) var(--pfw-black-tusk) transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -8px;
    right: auto;
    top: auto;
    bottom: -40px;
    border: 32px solid;
    border-color: transparent transparent transparent var(--pfw-gold-rumble);
}

.tri-right.btm-left:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 22px solid;
    border-color: transparent transparent transparent var(--pfw-gold-rumble);
}

/* End Source: https://codepen.io/Founts/pen/AJyVOr */
/*#endregion*/