## OPEN AI
OPENAI_API_KEY=
OPENAI_MODEL=
OPENAI_ORG_ID=
OPENAI_PROJECT_ID=
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MAX_COMPLETION_TOKENS=150

## HOSTING
HOST=127.0.0.1  #Default Localhost
PORT=8000       #Default Port

## DATABASE
DB_PASSWORD=
DB_USER=
DB_HOST=
DB_PORT=
DB_NAME=

## MISC
ORIGINS="https://example.org", "https://www.example.org"