## CHROMA
CHROMA_PERSISTENT_DIRECTORY="backend/chromadb_store"

## HOSTING
HOST=localhost
PORT=8000

## Microsoft OAuth
client_id=973d0063-2640-4751-9edf-4a103b364b8f
client_credential=
tenant=b7dc318e-8abb-4c84-9a6a-3ae9fff0999f

## GOOGLE SQL POSTGRES
DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="chatbot"
DB_USER=
DB_PASSWORD=

ADMIN_USERS=

## MISC
ORIGINS="http://localhost:8000"
CHAT_LIMIT=10

## OPEN AI
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o
OPENAI_ORGANIZATION=
OPENAI_PROJECT=
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MAX_COMPLETION_TOKENS=150
OPENAI_EMBEDDING_MODEL="text-embedding-ada-002"
OPENAI_MODERATIONS_MODEL="omni-moderation-latest"

## SESSION MANAGEMENT
SESSION_SECRET_KEY=

## PROMPT ENGINEERING
BASE_PROMPT=
SUMMARY_PROMPT="Please summarize the following question in a couple of words. For example, if the user asks you about pointers, you would answer 'About Memory Addresses', 'Pointers in C', 'Pointer Concepts', etc. Be sure to put a fun spin on it, but be sure to keep it accurate, appropriate, and no more then four words. Question: "
VICTOR_PROMPT="Imagine Victor as a student working as a TA. {Add Personality information here}. You will be replying to students as Victor, so be sure to keep his personality in mind."
JOHN_PROMPT="Imagine John as a student working as a TA. {Add Personality information here}. You will be replying to students as John, so be sure to keep his personality in mind."
HEDY_PROMPT="Imagine Hedy as a student working as a TA. {Add Personality information here}. You will be replying to students as Hedy, so be sure to keep her personality in mind."
HENRIETTA_PROMPT="Imagine Henrietta as a student working as a TA. {Add Personality information here}. You will be replying to students as Henrietta, so be sure to keep her personality in mind."
