## OPEN AI
OPENAI_API_KEY=
OPENAI_MODEL=
OPENAI_ORG_ID=
OPENAI_PROJECT_ID=
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MAX_COMPLETION_TOKENS=150

## HOSTING
HOST=
PORT=

## MISC
ORIGINS=

## Microsoft OAuth
MS_ID=
MS_SECRET=
MS_TENANT=
MS_REDIRECT=
MS_LOGIN=
MS_LOGOUT=