<div id="sidebar">
    <div>
        <h1>Chats</h1>
        <div class="d-grid p-2">
            {% if not context.student %}
            <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#chooseTA">Add Chat</a>
            {% endif %}
            <hr>
            <div id="convos" class="d-grid gap-2 p-2">
                {% if context.student %}
                <script>
                    async function GetStudentChat(url) {
                        const res = await fetch(url, {
                            method: "GET",
                            headers: {
                                "Content-Type": "application/json",
                                "X-Content-Type-Options": "nosniff",
                                "Content-Security-Policy": "frame-ancestors 'none'",
                                "X-Frame-Options": "DENY",
                                "X-auditee": "{{ context.student.email }}",
                                "accept-encoding": "gzip, deflate, br, zstd"
                            }
                        }).then(async (res) => {
                            const blob = await res.blob();
                            console.log(url)
                            document.getElementById(url.split("/")[3]).href = URL.createObjectURL(blob);
                            document.getElementById("tmp").remove();
                        });
                    }
                </script>
                {% for conversation in context.student.activeCourse.conversations %}
                {% set isActive=context.student.activeConversation.conversation_id == conversation.conversation_id %}
                <a href="" id="{{conversation.conversation_id}}" class="btn btn-secondary {{  'active' if isActive else '' }}">{{conversation.title}}</a>
                <script id="tmp">
                    GetStudentChat("/chat/{{context.student.activeCourse.id}}/{{conversation.conversation_id}}");
                </script>
                {% endfor %}
                {% else %}
                {% for conversation in context.user.activeCourse.conversations %}
                {% set isActive=context.user.activeConversation.conversation_id == conversation.conversation_id %}
                <a href="/chat/{{context.user.activeCourse.id}}/{{conversation.conversation_id}}" id="{{conversation.conversation_id}}" class="btn btn-secondary {{  'active' if isActive else '' }}">{{conversation.title}}</a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>