<div id="sidebar">
    <div>
        <h1>Chats</h1>
        <div class="d-grid p-2">
            <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#chooseTA">Add Chat</a>
            <hr>
            <div id="convos" class="d-grid gap-2 p-2">
                {% for conversation in context.conversation_list %}
                    {% set isActive=conversation.id ~ '' == context.chatID.strip("") %}
                    <a href="/chat?chatID={{conversation.id}}" class="btn btn-secondary {{  'active' if isActive else '' }}">{{conversation.name}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>