<!DOCTYPE html>
<html lang="en">

{% include './elements/HTML_Head.html' %}

<script src="../static/js/chat.js"></script>
<script type="text/javascript" src="https://unpkg.com/showdown/dist/showdown.min.js"></script>

    <link rel="stylesheet" href="../static/css/chat.css"/>
<body>

    {% include './elements/Header_General.html' %}

    <main id="host">

        {% include './elements/Sidebar_ChatOverview.html' %}

        <div id="content">
            <div id="conversation">
                {% if not context.conversation_data.discussion %}
                <div id="EMPTY" class="container my-auto">
                    <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
                        <h1 style="font-size:64pt">👋</h1>
                        <h1 class="text-body-emphasis">Hi {{ context.display_name }}</h1>
                        <p class="col-lg-6 mx-auto mb-4">
                            Need some help with something? Let's figure it out together!
                        </p>
                        <div>
                            <h5>Examples</h5>
                            <div class="list-group d-grid gap-2">
                                <p class="list-group-item rounded-3 py-3 bg-light-subtle">
                                    How does an array work in C?
                                </p>
                                <p class="list-group-item rounded-3 py-3 bg-light-subtle">
                                    What are pointers?
                                </p>
                                <p class="list-group-item rounded-3 py-3 bg-light-subtle">
                                    When is my final?
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                {% else %}
                {% for dialogue in context.conversation_data.discussion %}
                {% if dialogue['role'] == 'user' %}
                <div class="talk-bubble right">
                    <p class="text-from right">You asked...</p>
                    <div class="tri-right btm-right student">
                        <article class="talktext">
                            {{dialogue['content']}}
                        </article>
                    </div>
                </div>
                {% else %}
                <div class="talk-bubble left ">
                    <p class="text-from left">TA Says...</p>
                    <div class="tri-right btm-left teaching_assistant">
                        <article class="talktext">
                            {{dialogue['content']}}
                        </article>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                <br>
            </div>
            <div id="LOADING" class="talk-bubble left hidden" style="width:8em" aria-hidden="true">
                <p class="text-from left">Thinking...</p>
                <div class="tri-right btm-left teaching_assistant">
                    <article class="talktext">
                        <div class="placeholder-glow d-flex">
                            <p class="placeholder col-12 rounded-pill"></p>
                            <p class="placeholder col-12 rounded-pill"></p>
                            <p class="placeholder col-12 rounded-pill"></p>
                            <p class="placeholder col-12 rounded-pill"></p>
                            <p class="placeholder col-12 rounded-pill"></p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="chat-box">
                <form id="input" onsubmit="AskQuestion();return false;" method="post">
                    <select class="form-select" title="Select OpenAI Model" name="openai_model" id="openai_model" required
                        onchange="updateDisclaimer()">
                        <option title="Choose a model to help you with an assignment" style="font-size: small;" value=""
                            disabled>Choose a TA</option>
                        <option title="GPT 3.5 Turbo" value="gpt-3.5-turbo" selected>Victor (GPT-3.5-Turbo)</option>
                        <option title="GPT 4o Mini" value="gpt-4o-mini">John (GPT-4o-Mini)</option>
                        <option title="GPT 4o (Coming Soon)" value="chatgpt-4o-latest" disabled>Hedy (GPT-4o)</option>
                        <option title="GPT o1 (Preview) (Coming Soon)" value="o1-preview" disabled>Henrietta (o1-Preview)
                        </option>
                    </select>
                    <input class="form-control" id="question" name="question" type="text" required placeholder="What's your question?" /><br>
                    <p class="text-from left" style="bottom:3%;" id="disclaimer">Victor is an AI and will occassionally make
                        mistakes.</p>
                </form>
            </div>
    </main>

</body>

</html>