<!DOCTYPE html>
<html lang="en">

    {% include './elements/HTML_Head.html' %}
    <script src="/frontend/static/js/chat.js"></script>
    <link rel="stylesheet" href="/frontend/static/css/chat.css"/>
<body>

    {% include './elements/Header_General.html' %}

    <main id="host">
        
        {% include './elements/Sidebar_ChatOverview.html' %}

        <div id="content">
            <div id="conversation">
                <div class="talk-bubble left">
                    <p class="text-from left">Victor Says...</p>
                    <div class="tri-right btm-left teaching_assistant">
                        <div class="talktext">
                            <p>Hi! What can I help you with today?</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        
    </main>
    <div class="chat-box">
        <form id="input" onsubmit="AskQuestion();return false;" method="post">
            <select title="Base Model: GPT 3.5 Turbo" name="teaching_assistant" id="teaching_assistant" required onchange="updateDisclaimer()">
                <option title="Base Model: GPT 3.5 Turbo" value="gpt-3.5-turbo" selected>Victor (GPT-3.5-Turbo)</option>
                <option title="Base Model: GPT 4o Mini" value="gpt-4o-mini">John (GPT-4o-Mini)</option>
                <option title="Base Model: GPT 4o" value="gpt-4o">Hedy (GPT-4o)</option>
                <option title="Base Model: GPT o1 (Preview)" value="o1-preview">Henrietta (o1-Preview)</option>
            </select>
            <input id="question" name="question" type="text" required placeholder="What's your question?"/><br>
            <p class="text-from left" id="disclaimer">Victor is an AI and will occassionally make mistakes.</p>
        </form>
    </div>
</body>

</html>
