<!DOCTYPE html>
<html lang="en">

{% include './elements/HTML_Head.html' %}

<script src="../static/js/chat.js"></script>
<script type="text/javascript" src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/@jitbit/htmlsanitizer@latest/HtmlSanitizer.js"></script>

<link rel="stylesheet" href="../static/css/chat.css"/>

<body class="bg-body-tertiary" style="overflow:hidden">

    {% include './elements/Header_General.html' %}

    {% include './elements/Main_ModelModal.html' %}

    <main id="host">

        {% include './elements/Sidebar_ChatOverview.html' %}

        <p hidden id="openai_model">{{context.conversation_model}}</p>

        <div id="content">
            <div id="conversation">
                {% if not context.conversation_data %}
                <div id="EMPTY" class="container my-auto">
                    <div class="p-3 text-center text-muted bg-body border border-dashed rounded-5">
                        <h1 style="font-size:56pt">👋</h1>
                        <h1 class="text-body-emphasis">Hi {{ context.display_name }}</h1>
                        <p class="col-lg-6 mx-auto mb-4">
                            Need some help with something? Let's figure it out together!
                        </p>
                        <div>
                            <h5>Examples</h5>
                            <div class="list-group d-grid gap-2 mx-auto">
                                <button class="list-group-item rounded-3 py-3 bg-light-subtle btn"
                                    onclick="document.getElementById('question').value = 'How does an array work in C?'; AskQuestion();">
                                    How does an array work in C?
                                </button>
                                <button class="list-group-item rounded-3 py-3 bg-light-subtle btn"
                                    onclick="document.getElementById('question').value = 'What are pointers?'; AskQuestion();">
                                    What are pointers?
                                </button>
                                <button class="list-group-item rounded-3 py-3 bg-light-subtle btn"
                                    onclick="document.getElementById('question').value = 'When is my final?'; AskQuestion();">
                                    When is my final?
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                {% for dialogue in context.conversation_data %}
                {% if dialogue['role'] == 'user' %}
                <div class="talk-bubble right">
                    <p class="text-from right">You asked...</p>
                    <div class="tri-right btm-right student">
                        <article class="talktext">
                            {{dialogue['content']}}
                        </article>
                    </div>
                </div>
                {% else %}
                <div class="talk-bubble left ">
                    <p class="text-from left">{{context.conversation_model}} Says...</p>
                    <div class="tri-right btm-left teaching_assistant">
                        <article class="talktext">
                            {{dialogue['content']}}
                        </article>
                    </div>
                </div>
                <div class="feedback">
                    <a class="bi bi-volume-up" style="font-size:larger"></a>
                    <a class="bi bi-hand-thumbs-down" style="font-size:medium"></a>
                    <a class="bi bi-hand-thumbs-up" style="font-size:medium"></a>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                <br>
            </div>
            <div id="LOADING" class="talk-bubble left hidden" style="width:8em; bottom: 12vh" aria-hidden="true">
                <p class="text-from left">Thinking...</p>
                <div class="tri-right btm-left teaching_assistant">
                    <div class="talktext">
                        <div class="placeholder-glow d-flex">
                            <p class="placeholder col-2 rounded-pill"></p>
                            <p class="placeholder col-2 rounded-pill"></p>
                            <p class="placeholder col-2 rounded-pill"></p>
                            <p class="placeholder col-2 rounded-pill"></p>
                            <p class="placeholder col-2 rounded-pill"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-box position-relative">
                <form id="input" onsubmit="AskQuestion();return false;" method="post">
                    <div class="mx-auto">
                        <input class="form-control" id="question" name="question" type="text" required placeholder="What's your question?" />
                        <label class="text-from right bi bi-arrow-right" style="z-index: 100; font-size:medium; padding:1.5vh; pointer-events:none !important"></label>
                        <br>
                    </div>
                    <div style="pointer-events: none;">
                    <p class="text-from left" style="bottom:3%;" id="disclaimer">{{context.conversation_model}} is an AI and will occassionally make
                        mistakes.</p>
                        <p class="text-from right" style="bottom:3%;" id="counter"></p>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>